{% extends "base.html" %} {% block title %}Aggiungi il prodotto{% endblock %}

{% block content %}
<form method="POST">
    <br />
    <h3 align="center">Aggiungi il prodotto</h3>
    <div class="form-group">
        <label for="nome">Nome*</label>
        <input type="text" class="form-control" id="nome" name="nome" placeholder="nome del prodotto" required/>
    </div>
    <div class="form-group">
        <label for="costo">Costo*</label>
        <input type="double" class="form-control" id="costo" name="costo" placeholder="costo del prodotto" required/>
    </div>
    <div class="form-group">
        <label for="quantità">Quantità*</label>
        <input type="integer" class="form-control" id="quantità" name="quantità" placeholder="inserisci un numero" required />
    </div>
    <div class="form-group">
        <label for="descrizione">Descrizione</label>
        <input type="text" class="form-control" id="descrizione" name="descrizione" placeholder="descrivi il prodotto"/>
    </div>
    <div class="form-group">
        <label for="marca">Marca</label>
        <input type="text" class="form-control" id="marca" name="marca" placeholder="marca"/>
    </div>
    <br />
    <button type="submit" class="btn btn-success">Aggiungi</button>
</form>
{% endblock %}