
{% extends "base.html" %}

{% block title %}
CarrelloProva
{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2 class="text-center mb-4">Il tuo Carrello</h2>
    <div class="row">
        <div class="col-md-12">
        <table class="table table-sm">
            <thead>
                <tr>
                    <th>N°</th>
                    <th>Nome</th>
                    <th>Prezzo</th>
                    <th>Quantità</th>
                    <th>Subtotale</th>
                    <th>Aggiorna</th>
                    <th>Rimuovi</th>
                </tr>
            </thead> 
            <tbody>
                {% for item in carrello_prodotti %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ item.prodotto.nome }}</td>
                    <form action="{{ url_for('auth.updatecart', idprodotto=item.idp) }}" method="post">
                    <td>{{ "%.2f"|format(item.prodotto.costo) }}€</td>
                    <td><input type="number" name="quantità" min="1" max= "{{ item.prodotto.quantità }}" value="{{ item.quantità }}"></td>
                    <td>{{ "%.2f"|format(item.quantità * item.prodotto.costo) }}€</td>
                    <td><button type="submit" class="btn btn-sm btn-info">Aggiorna</button></td>
                    </form>
                    <td><a href="{{ url_for('auth.deleteitem', id=item.idcp) }}" class="btn btn-sm btn-danger">Rimuovi</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <table class="table table-sm">
           <tr>
               <td><a href="{{ url_for('auth.checkout') }}" class="btn btn-success">Ordina</a></td>
               <td><a href="{{ url_for('views.home') }}" class="btn btn-success">Indietro</a></td>
               <td width="35%"></td>
               <td><h5>Tassa: {{ "%.2f"|format(tax) }}€</h5></td>
               <td><h5>Gran Totale: {{ "%.2f"|format(grand_total) }}€</h5></td>
               <td><a href="{{ url_for('auth.clearcart') }}" class="btn btn-danger btn-sm float-right mr-4">Cancella Carrello</a></td>
           </tr>
        </table>
    </div>
  </div>
</div>

{% endblock content %}
