{% extends "base.html" %}


{% block title %}
Controllo Ordini
{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2 class="text-center mb-4">Il tuo Ordine</h2>
    <div class="row">
        <div class="col-md-12">
        <table class="table table-sm">
            <thead>
                <tr>
                    <th>Sr</th>
                    <th>ID Ordine</th>
                    <th>Cliente</th>
                    <th>Data</th>
                    <th>Prodotti</th>
                    <th>Quantità</th>
                    <th>Quantità Totale</th>
                    <th>Totale</th>
                </tr>
            </thead> 
            <tbody>
                <tr>
                    <td>1</td>
                    <td>{{ ordine.idordine }}</td>
                    <td>{{ utente.nome }}</td>
                    <td>{{ ordine.dataordine }}</td>
                    <td>
                        <ul>
                            {% for prodotto in carrello_prodotti %}
                            <li>{{ prodotto.prodotto.nome }} </li>
                            {% endfor %}
                        </ul>
                    </td>
                    <td>
                        <ul>
                            {% for prodotto in carrello_prodotti %}
                            <ul>{{ prodotto.quantità }}</ul> 
                            {% endfor %}
                        </ul>
                    </td>

                    <td>{{ totquantità }}</td>
                    <td>${{ "%.2f"|format(grand_total) }}</td>
                </tr>
            </tbody>
        </table>
        <a href="{{ url_for('auth.deleteordine', idordine=ordine.idordine) }}" class="btn btn-success">Indietro</a>
    </div>
  </div>
</div>
{% endblock content %}