{% extends "base.html" %}

{% block title %}
Homepage
{% endblock %}

{% block content %}
<div class="container">
    <h2 class="text-center mb-4">Benvenuto {{ utente.nome }}</h2>
    <form action="{{ url_for('views.home') }}" method="GET" class="mb-4">
        <div class="form-row align-items-center">
            <div class="col-auto">
                <label class="sr-only" for="search">Cerca per nome Categoria</label>
                <input type="text" class="form-control mb-2" id="search" name="search" placeholder="Cerca Categoria">
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-primary mb-2">Cerca</button>
            </div>
        </div>
    </form>
    {% for categoria in categorie %}
        {% if loop.index0 % 3 == 0 %}
            <div class="row">
        {% endif %}
        <div class="col-md-4 mb-4">
            <div class="card h-100 rounded-circle text-center" style="width: 100%; border-radius: 50%; overflow: hidden;" onclick=window.location.href="{{ url_for('auth.homeprodot', idcategoria=categoria.idcategoria) }}">
                <div class="card-body">
                    <h5 class="card-title">{{ categoria.nome }}</h5>
                </div>
            </div>
        </div>
        {% if loop.index % 3 == 0 or loop.last %}
            </div>
        {% endif %}
    {% endfor %}
</div>
{% endblock %}
