{% extends "base.html" %}

{% block title %}
Homepage
{% endblock %}

{% block content %}

<div class="container">
    <h2 align="center">Prodotti in vendita</h2>
    {% if categorie_figlie %}
    <h3>Sottocategorie:</h3>
    {% for sottocategoria in categorie_figlie %}
        {% if loop.index0 % 3 == 0 %}
            <div class="row">
        {% endif %}
        <div class="col-md-4 mb-4">
            <div class="card card-border h-100 text-center hover-pointer" onclick=window.location.href="{{url_for('auth.homeprodot', idcategoria=sottocategoria.idcategoria) }}"> 
                <img src="{{ url_for('auth.get_immagine_cat', idcategoria=sottocategoria.idcategoria) }}" class="card-img-top" alt="{{ sottocategoria.nome }}">
                <div class="card-body">
                    <h5 class="card-title">{{ sottocategoria.nome }}</h5>
                </div>
            </div>
        </div>
        {% if loop.index % 3 == 0 or loop.last %}
            </div>
        {% endif %}
    {% endfor %}
    {% endif %}
    <form action="{{ url_for('auth.homeprodot', idcategoria=idcategoria) }}" method="GET" class="mb-4">
        <div class="form-row align-items-center">
            <div class="col-auto">
                <label class="sr-only" for="search">Cerca per nome prodotto</label>
                <input type="text" class="form-control mb-2" id="search" name="search" placeholder="Cerca per nome prodotto">
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-outline-primary mb-2">Cerca</button>
            </div>
            <div class="col-auto">
                <button type="reset" class="btn btn-outline-danger mb-2" onclick="this.form.reset();this.form.submit();">X</button>
            </div>
        </div>
    </form>
    <div class="row">
    {% for prodotto in prodotti %}
        <div class="col-md-4 mb-4">
            <div class="card h-100 hover-pointer" style="width: 100%;" onclick=window.location.href="{{ url_for('auth.prodotto', idprodotto=prodotto.idprodotto) }}">
                <img src="{{ url_for('auth.get_immagine', idprodotto=prodotto.idprodotto) }}" class="card-img-top" style="height: 200px; object-fit: cover;" alt="Immagine prodotto">
                <div class="card-body">
                    <h5 class="card-title">{{ prodotto.nome }}</h5>
                    <p class="card-text">Quantità: {{ prodotto.quantità }}</p>
                    <p class="card-text">Costo: {{ prodotto.costo }}€</p>
                    <p class="card-text">Descrizione: {{ prodotto.descrizione }}</p>
                    <p class="card-text">Brand: {{ prodotto.marca }}</p>
                </div>
            </div>
        </div>
        {% if loop.index % 3 == 0 or loop.last %}
            </div>
        {% endif %}
    {% endfor %}
    <a href="{{ url_for('views.home') }}" class="btn btn-success">Indietro</a>
</div>
{% endblock %}
