{% extends "base.html" %}

{% block title %}
Venditori
{% endblock %}

{% block content %}
<form method="POST">
    <div class="container">
        <h2 align="center">Venditori e Prodotti</h2>
        <div class="row">
            <div class="col-md-6">
                <h3>Venditore 1</h3>
                <ul>
                    <li>Prodotto 1</li>
                    <li>Prodotto 2</li>
                    <li>Prodotto 3</li>
                </ul>
            </div>
            <div class="col-md-6">
                <h3>Venditore 2</h3>
                <ul>
                    <li>Prodotto 1</li>
                    <li>Prodotto 2</li>
                    <li>Prodotto 3</li>
                </ul>
            </div>
        </div>
    </div>
</form>
{% endblock %}
