{% extends "base.html" %}

{% block title %}
Prodotti in vendita
{% endblock %}

{% block content %}
<div class="container">
    <h2 align="center">Prodotti in vendita</h2>
    <ul class="list-group">
        {% for prodotto in prodotti %}
        <div class="row">    
            <div class="col-md-8">
                <h4>{{ prodotto.nome }}</h4>
                <p>{{ prodotto.descrizione }}</p>
            </div>
            <div class="col-md-4 text-right" > 
                <a href="{{ url_for('auth.prodotto', idprodotto=prodotto.idprodotto) }}" class="btn btn-secondary">Visualizza</a>
            </div>
        </div>
        {% endfor %}
    </ul>
    <div align="center">
        <a href="{{ url_for('auth.aggprodotto') }}" class="btn btn-success">Aggiungi Prodotto</a>
    </div>
</div>
{% endblock %}
