{% extends "base.html" %}

{% block title %}
Oggetti Venduti
{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2 class="text-center">Oggetti Venduti</h2>
    {% for ordine, prodotti in ordini_e_prodotti %}
    <div class="card mb-3">
        <div class="card-header">
            <h3>Ordine ID: {{ ordine.idordine }}</h3>
            <ul>
            {% for prodotto, consegna in prodotti %}
            <li class="list-group-item">
                <p>{{ prodotto.nome }} - {{ prodotto.costo }} €</p>
                {% if not consegna %}
                <form action="{{ url_for('auth.consegna_prodotto', ordine_id=ordine.idordine, prodotto_id=prodotto.idprodotto) }}" method="POST" style="display:inline;">
                    <button type="submit" class="btn btn-success">Consegna</button>
                </form>
                <form action="{{ url_for('auth.annulla_prodotto', ordine_id=ordine.idordine, prodotto_id=prodotto.idprodotto) }}" method="POST" style="display:inline;">
                    <button type="submit" class="btn btn-danger">Annulla</button>
                </form>
                {% endif %}
            </li>
            
            {% endfor %}
            </ul>
        </div>
    </div>
    {% endfor %}



    

{% endblock %}
