{% extends "base.html" %}

{% block title %}
Oggetti Venduti
{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2 class="text-center">Oggetti Venduti</h2>
    {% for ordine, prodotti in ordini_e_prodotti %}
    <div class="card mb-3">
        <div class="card-header">
            <h3>Ordine ID: {{ ordine.idordine }}</h3>
            <ul>
            {% for prodotto in prodotti %}
            <li class="list-group-item">
                <p>{{ prodotto.nome }} - {{ prodotto.costo }} €</p>
                <a href="{{ url_for('auth.user_profile') }}" class="btn btn-success">Consegna</a>
                <a href="{{ url_for('auth.user_profile') }}" class="btn btn-danger">Annulla</a>
            </li>
            
            {% endfor %}
            </ul>
        </div>
    </div>
    {% endfor %}



    

{% endblock %}
