{% extends "base.html" %}

{% block title %}
Prodotti in vendita
{% endblock %}

{% block content %}
<body>
    <div class="container">
        <h2 align="center">Dettagli Prodotto</h2>
        <div class="row">
            <div class="col-md-6">
                <img src="{{ url_for('auth.get_immagine', idprodotto=prodotto.idprodotto) }}" alt="Immagine prodotto" style="max-width: 200px; max-height: 200px;">
            </div>
            <div class="col-md-6" style="border: 1px solid #e0e0e0;background-color:white ;border-radius: 5px; margin-bottom: 10px; padding: 10px;">
                <h3>{{ prodotto.nome }}</h3>
                <p>Descrizione dettagliata del prodotto</p>
                <p> {{ prodotto.descrizione }} </p>
                <!-- Altri dettagli del prodotto come prezzo, disponibilità, etc. -->
            </div>
        </div>
    </div>
    <div align="center">
        {% if utente.privilegi %}
            {% if utente.idutente == prodotto.idu %}
            <a href="{{ url_for('auth.hvenditori') }}" class="btn btn-success">Indietro</a>
            {% else %}
            <a href="{{ url_for('views.home') }}" class="btn btn-success">Indietro</a>
            {% endif %}
        {% else %}
        <a href="{{ url_for('views.home') }}" class="btn btn-success">Indietro</a>
        {% endif %}
    </div>
{% endblock %}
