{% extends "base.html" %}

{% block title %}
Storico Ordini
{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2 class="text-center mb-4">Storico Ordini</h2>
    {% if ordini %}
        {% for ordine_id, ordine in ordini.items() %}
        <div class="card mb-3">
            <div class="card-header">
                <div class="card-header d-flex justify-content-between">
                    <h3>Ordine: {{ ordine_id }}</h3>
                    <h3>Data: {{ ordine.dataordine }}</h3>
                </div>
            </div>
            <div class="card-body">
                <table class="table table-sm">
                    <thead>
                        <tr>
                            <th class="col-prodotto">Prodotto</th>
                            <th class="col-stato">Quantità</th>
                            <th class="col-stato">Pagato</th>
                            <th class="col-stato">Stato</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for prodotto in ordine.prodotti %}
                        <tr>
                            <td class="col-prodotto">{{ prodotto.nome }}</td>
                            <td class="col-stato">{{ prodotto.qta }}</td>
                            <td class="col-stato">${{ "%.2f"|format(prodotto.costo) }}</td>
                            {% if prodotto.consegna %}
                            <td class="col-stato">Consegnato</td>
                            {% else %}
                            <td class="col-stato">In elaborazione</td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        {% endfor %}
    {% else %}
        <p class="text-center">Non hai ordini precedenti.</p>
    {% endif %}
    <a href="{{ url_for('auth.user_profile') }}" class="btn btn-success">Indietro</a>
</div>
{% endblock %}
